<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ or .Title .Site.Title }}{{ if ne .Kind "home" }} | {{
      .CurrentSection.Title }}{{ end }}
    </title>
    {{ $options := dict
      "transpiler" "dartsass"
      "sourceMapIncludeSources" true
      }}
    {{ $style := resources.Get "scss/style.scss" | toCSS $options | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  </head>
  <body>
    {{ block "page" . }}{{ end }}
  </body>
{{ $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.RelPermalink }}"></script>
</html>
