{{ define "page" }}
<div class="page-wrapper">
  {{ partial "header.html" . }}
  <main>
    <header class="main-header">
      <h2>{{ .Title }}</h2>
      <p>{{ .Summary }}</p>
    </header>
    <div class="main-content">
      {{ .Content }}
    </div>
  </main>
<!--<article class="container">-->
<!--  {{ if ne .Kind "home" }}-->
<!--  <a href="{{ .Site.Home.RelPermalink }}">Home</a>-->
<!--  {{ end }}-->
<!--  <h1>{{ .Title }}</h1>-->
<!--  {{ range .Sections }}-->
<!--  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>-->
<!--  <ul>-->
<!--    {{ range .Pages }}-->
<!--    <li>-->
<!--      <a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--  </ul>-->
<!--  {{ end }}-->
<!--  <h2>Other</h2>-->
<!--  <ul>-->
<!--    {{ range .RegularPages }}-->
<!--    <li>-->
<!--      <a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--  </ul>-->
<!--</article>-->
</div>
<dialog id="modaal">
  <form method="dialog">
    <button class="close-dialog" aria-label="Venster sluiten"></button>
  </form>
  {{ partial "image-modal.html" . }}
</dialog>
{{ end }}
