<header class="page-header">
  <h1><a href="{{ .RelPermalink }}">{{ .Site.Title }}</a></h1>
  <div class="toggle-container">
    <button class="toggle-menu">
      Menu
    </button>
  </div>
</header>
  <nav id="main-nav" aria-label="primair" tabindex="-1">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/mijn-werk">Mijn werk</a>
      </li>
      <li>
        <a href="/" class="__smaller">Karikaturen</a>
      </li>
      <li>
        <a href="/" class="__smaller">Persoonlijk werk</a>
      </li>
      <li>
        <a href="/">Commission aanvragen</a>
      </li>
    </ul>
  </nav>
