<header class="page-header">
  <h1><a href="{{ .RelPermalink }}">{{ .Site.Title }}</a></h1>
  <div class="toggle-container">
    <button class="toggle-menu">
      Menu
    </button>
  </div>
</header>
<nav id="main-nav" aria-label="primair" tabindex="-1">
  <ul role="list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li>
      <a
        {{ if eq $currentPage.Title .Name  }} class="__active"{{ end }}
        href="{{ .URL }}">{{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
